/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /*border: 1px dotted black;*/        /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
/*background-color: rgba(0,0,0,5%);*/    /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color:  #2f3932 ; /* achtergrondkleur lichtgrijs */ 
  font-family: serif;            /* tekstkleur donkergrijs */
}  


body * {                          /* geldt voor alles in body */
overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}

.title {
  width: 100%;                   /* vaste breedte van 700 pixels */
  margin: auto;
  overflow:hidden;
  /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

/*css code homepage*/

.pagehome-container {
  border:solid 2px red;
  width: fit-content;
  margin:auto; 
  border-style:hidden;   /*voor het testen met code*/
}


.pagehomeleft {
  height: 500px;
  width: 500px;
  float:left;
  margin:35px;
  background-image: radial-gradient(#785a3e, #2f3932, #2f3932);
}

  
.pagehomemid {
  height: 500px;
  width: 500px;
  border: solid 10px;
  float:left;
  margin:35px;
  border-style:ridge;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
  border-color:#af7537;
  transition: filter 0.30s;
}


.pagehomeright {
  height: 500px;
  width: 500px;
  float:left;
  margin:35px;
  
}

.hometitlepage {
  position: relative;
  top:200px;
  word-spacing: 2px; 
  font-size:70px;
  }

.homeinfopage {
  position: relative;
  font-size:30px;
  line-height: 24px;
  text-align: center;
  top:50%;
  transform: translateY(-50%);
  background-color:#af7537 ;
  box-shadow: inset 0 0 5px 5px #2f3932;
}

.homegotpic1 {
  width:100%;
}
.homegotpic2 {
  object-fit:cover;
  width:150%;
  }
.homegotpic3 {
  object-fit:cover;
  width:180%;
  position:relative;
  right:120px;
}
.homegotpic4 {
  object-fit:cover;
  width:100%;
}
.homegotpic5 {
  object-fit:cover;
  width:110%;
}
.homegotpic6 {
  object-fit:cover;
  width:182%;
  position:relative;
  right:170px;
}
.homegotpic7 {
  object-fit:cover;
  width:184%;
  position:relative;
  right:190px;
}
.homegotpic8 {
  object-fit:cover;
  width:180%;
  position:relative;
  right:70px;
}

.homegotpic9 {
  object-fit:cover;
  width:128%;
  
}

.pagehomemid:hover {
  filter: brightness(70%);
}








/* css code homepage stopt en timeline begint*/

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
  min-width:1200px;
}

.container {
  padding: 10px 50px;
  position:relative;
  width: 50%;
  box-shadow:inset 0 5px 10px #2f3932;
}

.textbox {
  padding: 20px 30px;
  background:  #2d5456 ;
  position: relative;
  font-size: 15px;
  box-shadow:inset 0 0 5px 10px #2f3932;
  border-radius: 20px;
}

.timelinetext {
  overflow: scroll;
  max-height:192px;
}

.timelinetext::-webkit-scrollbar { 
    display: none;  
}


.left {
  overflow: visible;
  left: 0;
}

.right {
  overflow: visible;
  left: 50%;
}

.container img {
  position: absolute;
  width: 50px;
  border-radius:50% ;
  right: -29px;
  top: 37%;
  z-index:10;
  background-color:  #2d5456 ;
  padding: 4px;
  
 }

.right img{
  left: -21px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #2d5456;
  top:0;
  left:50%;
  margin-left:-3px;
  z-index: 0;
  border-style: inset;
  border-radius: 30px;
  
}

.left-container-arrow {
   height: 0;
   width:0 ;
   position:absolute ;
   top:37%;
   z-index: 2;
   border-top: 15px solid transparent ;
   border-bottom: 15px solid transparent ;
   border-left: 15px solid  #2d5456 ;
   right: -15px;
   
}

.right-container-arrow {
   height: 0;
   width:0 ;
   position:absolute ;
   top:37%;
   z-index: 1;
   border-top: 15px solid transparent ;
   border-bottom: 15px solid transparent ;
   border-right: 15px solid  #2d5456  ;
   left: -15px;
}



 /*timeline css eindigt en  characters css begint*/



.charactersContainer{
  /*border: 1px solid red;*/
  max-width:1500px ;
  margin:auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color:  #2d5456 ;
  box-shadow: inset 0 0 10px 5px #2f3932 ;
}

.charactersbar {
  background-color: #785a3e;
  margin-top: 0px;
  border: 5px solid #785a3e;
  border-radius:5px ;
  border-top-left-radius: 1px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right-style:outset;
  border-bottom-style:outset;
  border-top-color: #785a3e;
  border-left-color: #785a3e;
  
}

.Characterspictures {
 float:left;
 border:8px groove #785a3e; 
 border-radius: 2px;  
 object-fit: cover; 
 transition: transform 0.25s; 
}

.Characterspictures:hover{
 transform: scale(1.1);
}

.Characterimgcontainer {
  float: left;
  min-height: 300px;
  max-height: 301px;
  margin-bottom:5px;
  margin-top:10px;
  margin-left:10px;
  margin-right:0px;
}

.Charactertitles {
  text-align: center;  
  font-family: cursive, "papyrus" ; 
  font-weight: bold;
  line-height: 20px;
}

/* character ccs eindigt en noble houses begint*/

.NHpage {
  min-width: 800px;
}

.housestitle {
  margin-top: 30px;
  font-size:45px; 
}

.housesexplbox{
  text-align:center;
  padding:20px;

}

.housesexplained {
  background-color: #2d5456  ;
  border-radius: 20px;
  width:700px;
  height:400px;
  display:inline-block;
  margin: 80px;
  border: 1px solid;
  border-style: hidden;
  box-shadow: inset 0 0 5px 10px #2f3932;
}



.nhousesexplained{
  background-color: #2d5456 ;
  border-radius: 5px;
  width:550px;
  height:350px;
  margin:auto;
  margin-top: 10px;
  border: 1px solid;
  border-style: hidden;
  box-shadow: inset 0 0 5px 10px #2f3932;
}

.nhousetext {
  max-width: 500px ;
  max-height: 270px;
  overflow: auto;
  text-align: center;
  position: relative;
  left:20px;
}

.gvhousetext {
  text-align: center;
  overflow: auto;
  max-width: 650px;
  max-height:320px;
  position: relative;
  left:20px;
}

.gvhousetext::-webkit-scrollbar{
  display: none;
}

.nhousetext::-webkit-scrollbar{
  display: none;
}

.gvhousesbar {
  background-color: #785a3e;
  border-color:#9a7351;
  border-top-width:7px ;
  border-bottom-width:7px ;
  border-top-style:groove ;
  border-bottom-style:ridge ;
}

.greathouses {
  background-color: #2f3932;
  width:420px;
  height:990px;
  display: inline-block;
  text-align: center;
  margin:10px;
  border-radius: 20px;
  border: 5px solid #785a3e;
  border-style: ridge;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.greathouses:hover{
  opacity: 1;
}

.greathousescontainer {
 text-align: center;
}

.houseslogo {
  width:150px;
  height: 150px;
  margin: 10px;
  float: right;
  
}

.ghousetitle{
  margin:auto;
  margin-top:5px;
  margin-bottom:5px;
  background-color: #785a3e;
  border: 5px solid #785a3e;
  border-style:ridge;
  border-radius: 7px;
  max-width: 300px;
}

.ghousetext{
  text-align: left;
  margin:2px;
  font-size: 17px;
}

.vassalhouses{
  font-size:25px;
  background-color: #785a3e;
  border: 5px ridge #9a7351;
  border-top-style:groove; 
  border-left-style:hidden;
  border-right-style:hidden;
}

.vhouselist{
 max-width: 300px;
 margin: auto;
 border:1px solid black ;
 border-radius: 20px; 
 border-style: hidden;
 background-color:  #2d5456 ;
 box-shadow: inset 0 0 5px 5px #2f3932; 
}

/* NH css eindigt en LB css begint*/

.LBtitle {
  margin-top: 30px;
  font-size:45px; 
}

.WWcontainer{

  width: 1300px;
  height: 1200px;
  margin:auto;
}

.LBinfo {
  width:650px;
  height:400px;
  float:left;
  border:2px solid black;
  background-color:  #2d5456 ;
  box-shadow: inset 0 0 7px 2px #2f3932; 
  transition: filter 0.2s;
}

.LBinfo:hover{
  filter: brightness(125%);
}

.LBinfotxt{
  overflow: scroll; 
  text-align: left;
  padding:8px;
  width: 640px;
  margin-left: 1px;
  height:320px;
  font-size: 20px;
}

.LBinfotxt::-webkit-scrollbar{
  display: none;
}

.LBtopleft {
  border-color:#785a3e ;
  border-bottom-width:5px ;
  border-right-width:5px ;
  border-bottom-style: ridge;
  border-right-style:ridge ;
  border-left-style:hidden ;
  border-top-style:hidden;
  border-bottom-left-radius:20px ;
  border-top-right-radius:30px ;
}

.LBtopright {
  border-color:#785a3e ;
  border-bottom-width:5px ;
  border-left-width:5px ;
  border-bottom-style: ridge;
  border-right-style:hidden ;
  border-left-style:groove ;
  border-top-style:hidden;
  border-top-left-radius:30px ;
  border-bottom-right-radius: 20px;
}

.LBmiddleleft{
  border-color:#785a3e ;
  border-bottom-width:5px ;
  border-right-width:5px ;
  border-top-width: 5px;
  border-bottom-style: ridge;
  border-right-style:ridge ;
  border-top-style: groove;
  border-left-style:hidden ;
  border-top-left-radius: 20px ;
  border-bottom-left-radius:20px ;
}

.LBmiddleright{
  border-color:#785a3e ;
  border-bottom-width:5px ;
  border-left-width:5px ;
  border-top-width: 5px;
  border-bottom-style: ridge;
  border-left-style:groove ;
  border-top-style: groove;
  border-right-style:hidden ;
  border-top-right-radius: 20px ;
  border-bottom-right-radius:20px ;
}

.LBbottomleft {
  border-color:#785a3e ;
  border-right-width:5px ;
  border-top-width: 5px;
  border-bottom-style: hidden;
  border-right-style:ridge ;
  border-top-style: groove;
  border-left-style:hidden ;
  border-top-left-radius: 20px ;
  border-bottom-right-radius: 30px;
}

.LBbottomright{
  border-color:#785a3e ;
  border-left-width:5px ;
  border-top-width: 5px;
  border-bottom-style: hidden;
  border-right-style:hidden ;
  border-top-style: groove;
  border-left-style:groove ;
  border-top-right-radius: 20px ;
  border-bottom-left-radius: 30px;
}


.LBleftside{
  
  height:1200px;
  width:650px;
  float:left;
}

.LBrightside{

  height:1200px;
  width:650px;
  float:right;
}

.leftDRinfo {
  border-color:#785a3e ;
  border-bottom-width:8px ;
  border-left-width:8px ;
  border-top-width: 8px;
  border-bottom-style: groove;
  border-left-style:ridge ;
  border-top-style: ridge;
  border-right-style:hidden ;
  border-top-right-radius: 20px ;
  border-bottom-right-radius:20px 
}

.rightDRinfo{
  border-color:#785a3e ;
  border-bottom-width:8px ;
  border-right-width:8px ;
  border-top-width: 8px;
  border-bottom-style: groove;
  border-right-style:groove ;
  border-top-style: ridge;
  border-left-style:hidden ;
  border-top-left-radius: 20px ;
  border-bottom-left-radius:20px ;
}


.Dbreath {
  width: 200px;
}


.LBpage{
  min-width: 1500px;
}


header {                 /* geldt voor header en footer */
  margin: 10px 0px;
}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;    
  color:#FE5800;
  word-spacing:20px;               /* tekst centreren */
} 

p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
  font-size: 20px;
}


/* Opmaak voor alle pagina's */

h1, h2, h3 {
      color:#af7537;
}



/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #2f3932  ;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-weight: bold;
    transition: text-shadow 0.15s;
}

nav li a:hover { 
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.70);
  color: rgba(255, 255, 255, 0.7);
}

nav li a.active {
   color: #af7537; 
}

a:hover {
 box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.70);
 color: rgba(255, 255, 255, 0.7);
}
