/* Instellingen om fouten te helpen vinden, uncomment om aan te zetten */

* {                                          /* geldt voor alles */
    /*border: 1px dotted black;*/        /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien, letop dat dit de layout soms kan wijzigen */
/*background-color: rgba(0,0,0,5%);*/   /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur */
}

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color:  #ac9595 ;/*/* achtergrondkleur lichtgrijs */ 
  font-family: serif;            /* tekstkleur donkergrijs */
}  

body * {                          /* geldt voor alles in body */
overflow: hidden;               /* zorgt dat DIV en andere block elementen de hoogte krijgt van wat erin zit (anders is het soms 0) */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 */
}

.title {
  width: 100%;                   /* vaste breedte van 700 pixels */
  margin: auto;
  background-image: linear-gradient(#939393 0%, #676767 100%);
  overflow:hidden;
  /* boven en onder 0 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

/*css code homepage*/

.pagehome-container {
  border:solid 2px red;
  width: fit-content;
  margin:auto; 
  border-style:hidden;   /*voor het testen met code*/
}


.pagehomeleft {
  height: 500px;
  width: 500px;
  float:left;
  margin:35px;
  background-image: radial-gradient(orange, #ac9595, #ac9595);
}

  
.pagehomemid {
  height: 500px;
  width: 500px;
  border: solid 10px;
  float:left;
  margin:35px;
  border-style:ridge;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  overflow: hidden;
}


.pagehomeright {
  height: 500px;
  width: 500px;
  float:left;
  margin:35px;
}

.hometitlepage {
  position: relative;
  top:200px;
  word-spacing: 2px; 
  font-size:70px;
  }

.homeinfopage {
  position: relative;
  font-size:30px;
  line-height: 24px;
  text-align: center;
  top:50%;
  transform: translateY(-50%);
  
}

.homegotpic1 {
  width:100%;
}
.homegotpic2 {
  object-fit:cover;
  width:150%;
  }
.homegotpic3 {
  object-fit:cover;
  width:180%;
  position:relative;
  right:120px;
}
.homegotpic4 {
  object-fit:cover;
  width:100%;
}
.homegotpic5 {
  object-fit:cover;
  width:110%;
}
.homegotpic6 {
  object-fit:cover;
  width:182%;
  position:relative;
  right:170px;
}
.homegotpic7 {
  object-fit:cover;
  width:184%;
  position:relative;
  right:190px;
}
.homegotpic8 {
  object-fit:cover;
  width:180%;
  position:relative;
  right:70px;
}

.homegotpic9 {
  object-fit:cover;
  width:128%;
  
}

/* css code homepage stopt en timeline begint*/

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
  min-width:1200px;
}

.container {
  padding: 10px 50px;
  position:relative;
  width: 50%;
  
}

.textbox {
  padding: 20px 30px;
  background: #ffff;
  position: relative;
  border-radius:6px;
  font-size: 15px;
  
}

.timelinetext {
  overflow: scroll;
  max-height:192px;
}

.timelinetext::-webkit-scrollbar { 
    display: none;  
}


.left {
  overflow: visible;
  left: 0;
}

.right {
  overflow: visible;
  left: 50%;
}

.container img {
  position: absolute;
  width: 50px;
  border-radius:50% ;
  right: -29px;
  top: 37%;
  z-index:10;
  background-color: white;
  padding: 4px;
  
 }

.right img{
  left: -21px;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top:0;
  left:50%;
  margin-left:-3px;
  z-index: 0;
  border-style: inset;
  border-radius: 30px;
  
}

.left-container-arrow {
   height: 0;
   width:0 ;
   position:absolute ;
   top:37%;
   z-index: 2;
   border-top: 15px solid transparent ;
   border-bottom: 15px solid transparent ;
   border-left: 15px solid #fff ;
   right: -15px;
   
}

.right-container-arrow {
   height: 0;
   width:0 ;
   position:absolute ;
   top:37%;
   z-index: 1;
   border-top: 15px solid transparent ;
   border-bottom: 15px solid transparent ;
   border-right: 15px solid #fff ;
   left: -15px;
}

.timelinenav {
  min-width: 1200px;
}

 /*timeline css eindigt en  characters css begint*/

.charactersContainer{
  /*border: 1px solid red;*/
  max-width:1500px ;
  margin:auto;
  margin-top: 30px;
  margin-bottom: 30px;

}

.charactersbar {
  background-color: #a600ff;
  margin-top: 10px;
  /*border: 0px solid red;*/
  
}

.Characterspictures {
 float:left;
  
}

.Characterimgcontainer {
  float: left;
  min-height: 300px;
  max-height: 300px;
  margin-bottom:5px;
  
}

.Charactertitles {
text-align: center;  
}









header, footer {                 /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify; 
  /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;    
  color:#FE5800;
  word-spacing:20px;               /* tekst centreren */
} 

p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
}


/* Opmaak voor alle pagina's */

h1, h2, h3 {
      color:#FE5800;
}

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: #FE5800;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #FE5800;
}

nav li a.active {
    background-color: #FE5800
}
